* {
    box-sizing: border-box; 
    max-width: 100%;
}

body {
    background-image: url(../../assets/images/cork-wallet.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3 {
    font-weight: bold;
}

.wrapper {
    min-height: calc(100vh - 80px);
}

.container {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

/* --------- Nav bar styles --------- */

.header {
    display: inline-block;
    margin: 0 auto 25px;
    background-color: white;
    border-bottom: 2px solid #ccc;
    width: 100%;
}

header h1 {
    color: white;
    background-color: #4aaaa5;
    display: inline-block;
    font-size: 2em;
    padding: 20px 0;
    position: relative;
    left: 160px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

nav {
    float: right;
    padding: 20px 0;
    position: relative;
    right: 160px;
}

.portfolio {
    padding: 0 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    color: gold;
}



/* ----------- About Me section ----------- */

.about {
    width:650px;
    float: left;
    background-color: white;
    color: #777;
    padding: 40px;
    line-height: 1.5;
    text-align: left;
}

.about h1 {
    color: #4aaaa5;
    font-size: 2em;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.profilePicture{
    /* transform: rotate(90deg); */
    height: 192px;
    width: 144px;
    float: left;
    align-content: left;
    padding: 0px;
    margin: 15px 25px 15px 15px;
}



/* ------------ social media links ------------- */

.icons{
    width: 270px;
    float: right;
    background-color:white;
}

.icons h2 {
    color: #4aaaa5;
    font-size: 1.5em;
    padding: 25px 0;
    border-bottom: 2px solid #ccc;
    width: 240px;
    margin:0 auto;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.icons img{
    width: 80px;
    height: 80px;
    display: inline-block;
    padding: 0;
    margin: 25px 0;
}


/* ----------- portfolio section ---------- */

.portfolioPage {
    width:650px;
    float: left;
    background-color: white;
    color: #777;
    padding: 40px;
    line-height: 1.5;
    text-align: left;
}

.portfolioPage h1 {
    color: #4aaaa5;
    font-size: 2em;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
}

.gallery {
    width: 260px;
    height: 174px;
    display: inline-block;
    margin: 10px;
}

.memes {
    position: relative;
}

/* .banner {
    /* float: center; */
    /* background-color: #4aaaa5; */
    /* color: white; */
    /* text-align: center; */
    /* display: inline; */
    /* position: absolute; */
    /* left: 50px; */
    /* right: 500px; */
    /* margin-right: 900px; */
    /* justify-content: flex-start; */
    /* display: inline-block;
    width: 260px;
    padding: 10px;
    z-index: 99; */
    /* overflow: auto; */
/* }  */

.banner1 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 235px;
    width: 260px;
    padding: 5px;
    z-index: 9;
}

.banner2 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    left: 294px;
    top: 235px;
    width: 260px;
    padding: 5px;
    z-index: 9;
}

.banner3 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 435px;
    width: 260px;
    padding: 5px;
    z-index: 9;
}

.banner4 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    left: 294px;
    top: 435px;
    width: 260px;
    padding: 5px;
    z-index: 9;
}

.banner5 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 635px;
    width: 260px;
    padding: 5px;
    z-index: 9;
}




/* -------------contact section ------------- */

.contact {
    width:650px;
    float: left;
    background-color: white;
    color: #777;
    padding: 40px;
    line-height: 1.5;
    text-align: left;
}

.contact h1{
    color: #4aaaa5;
    font-size: 2em;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
}

/* ----------- the footer -------------- */

.footer {
    text-align: center;
    background-color: #666;
    color: white;
    padding: 2em;
    display: inline-block;
    width: 100%;
    margin: 30px 0 0;
    font-size: 0.75em;
    border-top: 10px solid #4aaaa5;
}